* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background: #000000;
    width: 100%;
    height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#aurora {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#one, #two, #three, #four, #five {
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: drift;
    background: transparent;
}

@keyframes drift {
    0%, 100% {
        background: linear-gradient(to right, #473C78, #F72A3B, #473C78);
    }
    50% {
        background: linear-gradient(to right, #F72A3B, #473C78, #F72A3B);
    }
}

/* You can add similar keyframe animations for each section if you want different color transitions */

#aurora::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%; /* Adjust this height to control how much of the page the effect covers */
    background: inherit;
    opacity: 0.6;
    animation: shimmer 5s infinite alternate;
}

@keyframes shimmer {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
}

/* Apply specific animations to each section for variety */
#one {
    animation-name: driftOne;
}

@keyframes driftOne {
    0%, 100% {
        background: linear-gradient(to right, #473C78, #F72A3B, #473C78);
    }
    50% {
        background: linear-gradient(to right, #F72A3B, #473C78, #F72A3B);
    }
}

#two {
    animation-name: driftTwo;
}

@keyframes driftTwo {
    0%, 100% {
        background: linear-gradient(to right, #18C499, #D8F05E, #18C499);
    }
    50% {
        background: linear-gradient(to right, #D8F05E, #18C499, #D8F05E);
    }
}

#three {
    animation-name: driftThree;
}

@keyframes driftThree {
    0%, 100% {
        background: linear-gradient(to right, #FFDD00, #3E33FF, #FFDD00);
    }
    50% {
        background: linear-gradient(to right, #3E33FF, #FFDD00, #3E33FF);
    }
}

#four {
    animation-name: driftFour;
}

@keyframes driftFour {
    0%, 100% {
        background: linear-gradient(to right, #781848, #F2BBE9, #781848);
    }
    50% {
        background: linear-gradient(to right, #F2BBE9, #781848, #F2BBE9);
    }
}

#five {
    animation-name: driftFive;
}

@keyframes driftFive {
    0%, 100% {
        background: linear-gradient(to right, #42F2A1, #F4F6AD, #42F2A1);
    }
    50% {
        background: linear-gradient(to right, #F4F6AD, #42F2A1, #F4F6AD);
    }
}
